@use '../mq';
@use '../utilities/primitives';

// use in impoets like primitives.$variable
.navigation-header {
  position: sticky;
  width: 100%;
  top: 0;
  background: hsl(0, 0, 97%);
  height: 4.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  background: #fff;
  border-bottom: 1px solid hsl(214, 16%, 90%);
  h1 {
   text-align: center;
   font-weight: 400;
   font-size: 1em;
   text-transform: uppercase;
   color: hsl(214, 16%, 46%);
  }
}