---
layout: base
title: "Homepage"
templateClass: homepage
---

<header class="navigation-header" id="navigationHeader">
  <h1>Navigation Header</h1>
</header>

<div class="image">
  {% image "./src/img/image.jpg", "An image", "100vw" %}
  {% image "./src/img/image.jpg", "An image", "100vw" %}
  {% image "./src/img/image.jpg", "An image", "100vw" %}
</div>
