@use 'mq';
@use 'utilities/primitives';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }

  body {
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: hsl(214, 16%, 97%);
    font: 400 1em/1.5 sans-serif;
  }

  ::selection {
    background: hotpink; // some classic stuff need to be
    text-shadow: none;
    color: #fff;
  }

  audio,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture {
    width: 100%;
    height: auto;
    display: block;
  }

  a {
    color: inherit;
  }